<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="0.1" package="SyncCycle.Droid" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="SyncCycle" android:icon="@mipmap/ic_launcher">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC0CuPxHmmokSyqM3DfvhlNbNsL1kxJkio"/>
  </application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

</manifest>